
<nav class="navbar navbar-fixed-top navbar-dark navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Library Management System</a>
    </div>
      <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="studenthome">Student</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="librarianhome">Librarian</a></li>
    </ul>
  </div>
</nav>

<br><br><br>


<router-outlet></router-outlet>